body.about {

	h2 {
		margin-left: -7.8vw;
		margin-bottom: 60px;
	}

	.content-section {
		position: relative;
		z-index: 2;
		margin-top: 0;
		padding-bottom: 60px;
	}

	.sec-inner{
		position: relative;
		box-sizing: border-box;
		background-color: #fff;
		margin: 0 7.8vw;
		width: calc(100% - 15.6vw);
		z-index: 8;

		.sec-block {
			position: relative;
			box-sizing: border-box;
			display: block;
			background-color: #fff;
			padding-bottom: 55px;
		}
	}



	#sec-about {

		.sec-inner{
			background-color: #36328F;
			@include angled-edge('outside bottom','lower right', #36328F, 76, 647);

			h1 {
				position: relative;
				display: inline-block;
				font-size: 5vw;
				color: #fff;
				background-color: #64D2DD;
				text-align: left;
				width: 39.68vw;
				height: 9.35vw;
				line-height: 9.35vw;
				padding-left: 5.93vw;
				margin: 0;
				margin-left: -7.8vw;
				margin-bottom: 60px;
			}

			.sec-block {

				width: 102%;
				margin-left: -1px;
				margin-right: -1px;
				z-index: 8;
			}

			h2 {
				position: relative;
				background: none;
				width: calc(100% - 4px);
				margin: 70px 2px 20px 2px;
				height: auto;
				line-height: 1;
				padding: 0;
				text-align: center;

				img {
					width: 100%;
					height: auto;
				}
			}

			h3 {
				box-sizing: border-box;
				position: relative;
				display: block;
				width: 90%;
				font-size: 5.32vw;
				font-weight: normal;
				text-align: left;
				color: #207FEF;
				line-height: 1.52;
				letter-spacing: 0.1em;
				margin: 20px 0 55px 5%;
			}

			.sec-block-txt {
				position: relative;
				padding: 33px 8.125vw 0 8.125vw ;
				z-index: 10;

			}

			p {
				color: #fff;
				font-size: 3.75vw;
			}
		}
	}


	#sec-member {
		background-color: #20A0EF;
		@include angled-edge('inside top','lower left', #fff, 145, 767);
		@include angled-edge('inside bottom','upper right', #E3EDF7, 145, 767);

		.sec-inner{

			.sec-block {

				img {
					margin: 0 auto;
					display: block;
					width: 50vw;
					height: auto;
					text-align: center;
				}

				dl {

					dt,
					dd {
						display: inline-block;
						width: 100%;
						text-align: center;
						margin: 0;
						line-height: 9.375vw;
						font-size: 5vw;
						font-weight: normal;
					}
				}

				.accordion_icon,
				.accordion_icon span {
					display: inline-block;
					transition: all .4s;
					box-sizing: border-box;
				}

				.accordion_icon {
					position: relative;
					display: block;
					width: 30px;
					height: 30px;
					margin: 0 auto;
					border-radius: 50%;
					background-color: #4185FF;

					&:before,
					&:after {
						content: "";
						display: inline-block;
						position: absolute;
						top: 15px;
						width: calc(25vw - 19px);
						transition: all .4s;
						border-bottom: 1px solid #4185FF;
					}

					&:before {
						left: calc((25vw - 15px) * -1);
					}

					&:after {
						right: calc((25vw - 15px) * -1);

					}

					span {
						position: absolute;
						left: 8px;
						width: 13px;
						height: 2px;
						background-color: #fff;
						border-radius: 4px;

						&:nth-of-type(1) {
							top: 14px;
							transform: rotate(0deg);
						}

						&:nth-of-type(2) {
							top: 14px;
							transform: rotate(90deg);
						}
					}

					&.active {
						&:before,
						&:after {
							width: calc(32.705vw - 19px);
						}

						&:before {
							left: calc((32.705vw - 15px) * -1);
						}

						&:after {
							right: calc((32.705vw - 15px) * -1);
						}
					}

					&.active span:nth-of-type(1) {

					}
					&.active span:nth-of-type(2) {
						top: 14px;
						transform: rotate(180deg);
					}

				}

				.sec-block-txt {
					display: none;
					padding: 33px 8.125vw ;
				}
				.opened .sec-block-txt {
					display: block;
				}

				p {
					font-size: 4.375vw;
					line-height: 7.18vw;
					margin: 0;
				}
			}
		}
	}


	#sec-recruit {
		background-color: #E3EDF7;
		@include angled-edge('inside bottom','upper right', #E3EDF7, 145, 767);
		@include angled-edge('inside bottom','upper right', #4185FF, 145, 767);

		.sec-inner{

			.sec-block {

				p {
					font-size: 4.375vw;
					line-height: 7.18vw;
					margin: 0;
				}

			}

			a.link-btn {
				background-color: #207FEF;
				color: #fff;
				margin-top: 63px;

			}

			.bx-wrapper {
				margin-bottom: 20px;
				border-width: 7px;
				box-shadow: none;

				#bxslide ul {
					margin: 0;
					padding: 0;
					list-style: none;
				}

			}

			.custom-thumb {

				width: 100%;
				display: flex;
				box-sizing: border-box;
				justify-content: space-between;

					a {
					position: relative;
					display: inline-block;
					width: 22%;
					height: auto;
					margin: 0;
					padding: 0;
					background: none;

					img {
						width: 100%;
						height: auto;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}


	#sec-company {
		background-color: #4185FF;
		background:linear-gradient(to bottom,#4185FF 0%,#4185FF 90%,#f2f2f2 90%,#f2f2f2 100%);

		.sec-inner{

			.sec-block {

				dl {
					margin: 0 8.125vw;
					margin-top: 0;
					margin-bottom: 0;

					dt,
					dd {
						display: inline-block;
						width: 100%;
						text-align: left;
						margin: 0;
						line-height: 5.75vw;
						font-size: 3.75vw;
						font-weight: normal;

					}
					dt {
						border-bottom: 1px solid #EDEDED;
						font-size: 3.43vw;
						padding-bottom: 0.937vw;

					}
					dd {
						margin-bottom: 7.5vw;
						font-size: 3.75vw;
						padding-top: 0.937vw;

						&:last-of-type {
							padding-top: 1.937vw;
							font-size: 3.43vw;

							img {
								width: 44.5vw;
								height: auto;
							}

							span {
								padding-left: 5vw;
							}
						}
					}
				}
			}

			#map {
				display: block;
				visibility: visible !important;
				width: 100%;
				height: 36vw;

			}
		}
	}

	#sec-contact {
		background-color: #f2f2f2;

		.sec-inner{

			.sec-block {

				form {
					margin: 0 8.125vw;
					padding-bottom: 113px;

					span.label-text {
						display: none;
					}

					input[type="text"],
					input[type="email"] {
						box-sizing: border-box;
						height: 9.75vw;
						line-height: 9.75vw;
						margin-bottom: 27px;
					}

					textarea {
						margin-bottom: 27px;
					}

					input::placeholder,
					textarea::placeholder {
						color: #aaa;
						font-size: 3.43vw;
					}

					input:focus,
					textarea:focus {
						background-color: #f6f6f6;
					}

					.check-block {
						position: relative;
						display: block;
						margin-bottom: 50px;
					}

					span.wpcf7-acceptance {
						margin: 0;
					}

					span.wpcf7-list-item {
						margin: 0;
						margin-right: 7px;
					}

					a.agreement-text {
						display: inline-block;
						line-height: 25px;
						height: 25px;
						font-size: 3.75vw;
						margin: 0;
						padding: 0;
						text-decoration: underline;
						overflow: visible;
					}

					input[type="submit"] {
						box-sizing: border-box;
						position: relative;
						display: block;
						border: 1px solid #aaa;
						width: 68.75%;
						height: 52px;
						line-height: 16px;
						font-size: 16px;
						text-align: center;
						margin: 0 auto;
						padding: 0;
						background-size: 200% 100%;
						transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
						margin-top: 50px;
						border-radius: 0;
						outline: none;
						appearance: none;
						background-color: #fff;
						color: #aaa;
						vertical-align: middle;
					}
				}
			}
		}
	}
}




@media screen and (min-width: 768px) {

	body.about {

		.content-section {
			position: relative;
			z-index: 2;
			margin-top: 0;
			padding-bottom: 145px;
		}

		.sec-inner{
			position: relative;
			width: 820px;
			margin: 0 auto;
			padding: 0;
		}

		#sec-about {
			padding-bottom: 0;

			.sec-inner{
				@include angled-edge('outside bottom','lower right', #36328F, 96, 820);

				h1 {
					font-size: 27px;
					width: 314px;
					height: 75px;
					line-height: 75px;
					margin-left: -70px;
					padding-left: 0;
					text-align: center;
					margin-top: 100px;
					margin-bottom: 100px;
				}

				.sec-block {
					display: inline-block;
					padding-bottom: 0;
					width: 740px;
					margin-left: 80px;
					margin-right: 0;
				}

				h2 {
					width: 600px;
					margin: 84px 0 20px 106px;
				}

				h3 {
					width: auto;
					font-size: 25px;
					margin: 20px 0 80px 375px;
				}

				.sec-block-txt {
					padding: 74px 80px 45px 80px;

				}

				p {
					font-size: 20px;
					line-height: 52px;
					margin: 0;
				}
			}
		}


		#sec-member {
			margin-top: 200px;
			@include angled-edge('inside top','lower left', #fff, 435, 2301);
			@include angled-edge('inside bottom','upper right', #E3EDF7, 435, 2301);

			.sec-inner{
				padding-bottom: 93px;

				h2 {
					margin-top: -100px;
					margin-bottom: 70px;
				}

				.sec-member-wrap {
					display: flex;
					box-sizing: border-box;
					flex-wrap: wrap;
				}

				.sec-block {
					flex-basis: 50%;
					box-sizing: border-box;
					display: inline-block;
					background-color: #fff;
					padding: 30px 60px;
					width: 50%;

					&:nth-of-type(odd) {
						padding-right: 40px;
					}

					&:nth-of-type(evev) {
						padding-left: 40px;
					}

					img {
						margin: 0 auto 0 0;
						display: block;
						width: 160px;
						height: auto;
						text-align: left;
					}

					dl {
						dt,
						dd {
							display: inline-block;
							width: 100%;
							text-align: left;
							margin: 0;
							line-height: 16px;
							font-size: 14px;
							font-weight: normal;
						}
					}

					.accordion_icon,
					.accordion_icon span {
						display: none;
						transition: all .4s;
						box-sizing: border-box;
					}

					.sec-block-txt{
						display: block;
						padding: 0;
					}

					p {
						font-size: 13px;
						line-height: 18px;
						margin: 0;
						font-feature-settings : "palt";

					}
				}
			}
		}

		#sec-recruit {
			@include angled-edge('inside bottom','upper right', #E3EDF7, 435, 2301);

			.sec-inner{

				h2 {
					margin-top: 100px;
					margin-bottom: 100px;
				}

				img.pc-disp {
					width: 100%;
				}

				.sec-block {
					box-sizing: border-box;
					display: block;
					padding-bottom: 100px;

				}

				a.link-btn {
					background-color: #fff;
					color: #284ADD;
					margin-top: 77px;
					margin-right: -70px;
					background-image: linear-gradient(to right, transparent 50%, rgba(40, 74, 221, 1) 50% );

					&:hover {
						background-color: #284ADD;
						color: #fff;
						background-position: 100% 100%;
					}
				}

				.slide-block {
					display: none;
				}
			}

			@include angled-edge('inside bottom','upper right', #4185FF, 435, 2301);
		}


		#sec-company {
			background:linear-gradient(to bottom,#4185FF 0%,#4185FF 68%,#f2f2f2 68%,#f2f2f2 100%);

			.sec-inner{

				h2 {
					margin-top: 100px;
					margin-bottom: 67px;
				}

				.sec-block {
					box-sizing: border-box;
					position: relative;
					padding: 0 54px;
					z-index: 10;
					padding-bottom: 97px;

					dl {
						display: flex;
						box-sizing: border-box;
						flex-wrap: wrap;
						margin-top: 0;
						margin-bottom: 80px;

						dt,
						dd {
							display: inline-block;
							text-align: left;
							margin: 0;
							line-height: 24px;
							font-size: 16px;
							font-weight: normal;
							color: #6d6d6d;

						}

						dt {

							flex-basis: 34%;
							text-align: right;
							padding-right: 30px;
							border-right: 1px solid #979797;
							border-bottom: none;
							padding-bottom: 20px;
							padding-top: 4px;

						}
						dd {

							flex-basis: 66%;
							font-size: 17px;
							padding-left: 30px;
							margin-bottom: 20px;
							padding-top: 3px;

							&:last-of-type {
								padding-top: 3px;
								font-size: 12px;

								p {
									margin: 4px 0 0 0;

								}

								img {
									width: 147px;
									height: auto;
								}

								span {
									padding-left: 0;
											text-align: center;
								}
							}
						}
					}
				}

				a {
					background-color: #207FEF;
					color: #fff;
					margin-top: 67px;
				}

				#map {
					display: block;
					visibility: visible !important;
					width: 100%;
					height: 382px;

				}
			}
		}


		#sec-contact {

			.sec-inner{

				h2 {
					margin-top: 100px;
					margin-bottom: 67px;
				}

				.sec-block {
					box-sizing: border-box;
					position: relative;
					padding: 0 54px;
					z-index: 10;
					padding-bottom: 67px;

					form {
						padding-bottom: 0;

						span.label-text {
							display: inline;
							font-size: 13px;
							line-height: 35px;
							padding-left: 8px;
							color: #3d3d3d;
						}

						input[type="text"],
						input[type="email"] {
							box-sizing: border-box;
							height: 50px;
							line-height: 50px;
							margin-bottom: 2px;
						}

						textarea {
							margin-bottom: 27px;
						}

						input::placeholder,
						textarea::placeholder {
							font-size: 13px;
							color: transparent;
						}

						input:focus,
						textarea:focus {
							background-color: #f6f6f6;
							padding: 13px;
						}

						.check-block {
							position: relative;
							display: block;
							margin-bottom: 50px;
						}

						span.wpcf7-acceptance {
							margin: 0;
						}

						span.wpcf7-list-item {
							margin: 0;
							margin-right: 7px;
						}

						a.agreement-text {
							display: inline-block;
							line-height: 35px;
							height: 35px;
							font-size: 13px;
							margin: 0;
							padding: 0;
							text-decoration: underline;
							overflow: visible;
						}

						input[type="submit"] {
							box-sizing: border-box;
							position: relative;
							display: block;
							width: 420px;
							height: 75px;
							line-height: 75px;
							font-size: 28px;
							text-align: left;
							padding-left: 45px;
							margin-right: -215px;
							background-size: 200% 100%;
							transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
							background-image: linear-gradient(to right, transparent 50%, rgba(40, 74, 221, 1) 50% );
							margin-top: 50px;
							border-radius: 0;
							outline: none;
							appearance: none;
							background-color: #fff;
							color: #767586;
							vertical-align: middle;
							border-color: #767586;

							&:hover {
								background-color: #207FEF;
								border: 1px solid #207FEF;
								color: #fff;
								background-position: 100% 100%;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}
