*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea

/wp-config.php
/.htaccess
/.htpasswd
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-admin/*
/wp-content/*
/node_modules
!/wp-content/themes
/wp-content/themes/*
/wp-includes/*
!/wp-content/themes/olta_corporate
/wp-content/themes/olta_corporate/node_modules
/wp-content/themes/olta_corporate/package-lock.json
/wp-content/themes/olta_corporate/package.json
/wp-content/themes/olta_corporate/gulpfile.js