*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea

/.env
/vendor
/wp/*
!/wp/favicon.ico
!/wp/google*.html
!/wp/wp-content
/wp/wp-content/*
!/wp/wp-content/themes
/wp/wp-content/themes/*
!/wp/wp-content/themes/olta_corporate
/wp/wp-content/themes/olta_corporate/node_modules