
@media screen and (max-width: 767px) {
	.site-header {
		display: block;
		position: fixed;
		height: $header-height-sp;
		width: 100%;
		top: 0;
		background-color: #fff;
		z-index: 9;

		.site-title {
			position: absolute;
			height: $header-height-sp;
			margin: 0;
			padding: 22px 22px 22px 19px;
		}
	}
}


@media screen and (min-width: 768px) {

	.site-header {
		position: relative;
		display: flex;
		box-sizing: border-box;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 auto;
		padding: 0;
		width: 820px;
		height: 150px;

		.site-title {
			flex-basis: 98px;
			box-sizing: border-box;
			display: block;
			vertical-align: top;
			height: 25px;
			width: 98px;
			margin-left: -5px;

			img {
				width: 97.8px;
				height: 25px;
			}
		}
	}

	body.index {

		.site-header {
			margin: 0;
			padding: 0;
			width: 100%;
			display: block;
			z-index: 10;

			.site-title {
				margin-top: 41px;
				margin-left: 43px;
			}
		}
	}
}