body.archive {
	background-color: #f9f9f9;

	h1 {
		position: relative;
		display: inline-block;
		background-color: #64D2DD;
		font-size: 5vw;
		color: #fff;
		text-align: left;
		width: 39.68vw;
		height: 9.35vw;
		line-height: 9.35vw;
		position: relative;
		padding-left: 5.93vw;
		margin: 0;
		margin-top: 60px;
		margin-bottom: 35px;
	}

	#sec-news {
		padding-bottom: 183px;

		.sec-inner {
			padding-top: 0;

			form {
				margin: 0 6.25vw 35px 6.25vw;
				width: calc(100% - 12.5vw);
					border: 1px solid #e0e0e0;
					background-color: #fff;

				label {
					border: none;
					outline: none;
				}

				input {
					box-sizing: border-box;
					display: inline-block;
					font-size: 15px;
					border: none;
					line-height: 22px;
					height: 45px;
					font-size: 15px;
					background-color: #fff;

					&.search-field {
						width: calc(100% - 48px);
						padding: 12px 5px 12px 15px;
					}

					&:placeholder-shown {
						color: #e0e0e0;
					}

					&.search-submit {
						width: 44px;
						padding: 12px 15px 12px 5px;
						color: #aaa;
					}
				}
			}

			article {

				display: flex;
				box-sizing: border-box;
				justify-content: space-between;
				flex-wrap: wrap;
				flex-direction: row-reverse;
				background-color: #fff;
				margin: 24px 6.25vw;
				padding: 11px 8px 45px 8px;
				width: calc(100% - 12.5vw);
				box-shadow: 0 2px 4px 0 rgba(196,196,196,0.50);
				transition: all .3s linear 0s;

				&.opened {
					margin: 24px 0;
					padding: 11px 28px 110px 28px;
					width: 100%;
				}

				span {

					&.post-date {
						flex-basis: 50%;
						font-size: 14px;
						color: #207FEF;
						text-align: right;
					}

					&.post-category {
						flex-basis: 50%;
						font-size: 14px;
						text-align: left;
					}
				}

				h2 {
					flex-basis: 100%;
					width: auto;
					height: auto;
					display: block;
					background: none;
					color: #4a4a4a;
					margin: 0;
					font-size: 17px;
					font-weight: normal;
					text-align: left;
					line-height: 1.47;
					margin-top: 39px;
					padding-left: 0;

					a {
						color: #4a4a4a;

						&:hover {
							color: #207FEF;
						}
					}
				}

				section {
					display: none;
				}

				.accordion_icon,
				.accordion_icon span {
					display: inline-block;
					transition: all .4s;
					box-sizing: border-box;
				}

				.accordion_icon {
					position: absolute;
					width: 30px;
					height: 30px;
					right: 8px;
					bottom: 11px;
					margin: 0;
					border-radius: 50%;
					background-color: #4185FF;
				}

				.accordion_icon span {
					position: absolute;
					left: 8px;
					width: 13px;
					height: 2px;
					background-color: #fff;
					border-radius: 4px;
				}

				.accordion_icon span:nth-of-type(1) {
					top: 14px;
					transform: rotate(0deg);
				}

				.accordion_icon span:nth-of-type(2) {
					top: 14px;
					transform: rotate(90deg);
				}

				.accordion_icon.active {
					bottom: 21px;
				}

				.accordion_icon.active span:nth-of-type(1) {
					display:none;
				}

				.accordion_icon.active span:nth-of-type(2) {
					top: 14px;
					transform: rotate(180deg);
				}
			}

			a.link-btn {
				background-color: #fff;
				color: #284ADD;
				margin-top: 53px;
			}

		}

	}

	.wp-pagenavi {
		text-align: center;
		margin-top: 70px;

		.pages{
			display: none;
		}

		span,
		a {
			display: inline-block;
			margin: 0 11px;
			text-align: center;
			color: #aaa;
			line-height: 30px;
			font-size: 14px;
			text-decoration: none;
			background-color: #efefef;
			width: 30px;
			height: 30px;
			border-radius: 50%;

			&.current, &:hover {
				color: #fff;
				background-color: #207FEF;
			}
		}
	}
}


@media screen and (min-width: 768px) {

	body.archive {

		.entry-header {
			position: relative;
			width: 820px;
			margin: 0 auto;
			padding: 0;
		}

		.search-form {
			display: none;
		}

		h1 {
			font-size: 27px;
			width: 314px;
			height: 75px;
			line-height: 75px;
			margin-left: -70px;
			padding-left: 0;
			text-align: center;
			margin-top: 100px;
			margin-bottom: 100px;
		}

		#sec-news {
			padding-bottom: 0;


			.sec-inner {

				article {
					background: none;
					flex-direction: row;
					margin: 0 auto -1px auto;
					padding: 45px 0 31px 0;
					width: 800px;
					box-shadow: none;
					border-top: 1px solid #979797;
					border-bottom: 1px solid #979797;
					border-collapse: collapse;

					&.opened {
						margin: 24px auto;
						padding: 0;
						width: 700px;
					}

					span {

						&.post-date {
							flex-basis: 87px;
							line-height: 25px;
							font-size: 13px;
							text-align: left;
						}
						&.post-category {
							flex-basis: 158px;
							line-height: 25px;
							text-align: left;
							font-size: 14px;
						}
					}

					h2 {
						flex-basis: calc(100% - 245px);
						font-size: 21px;
						font-weight: normal;
						text-align: left;
						line-height: 25px;
						margin-top: -2px;
						margin-bottom: 15px;
						padding-left: 0;
					}

					.accordion_icon,
					.accordion_icon span {
						display: none;
					}
				}
			}
		}
	}
}