@media screen and (max-width: 767px) {

	.main-navigation {
		position: relative;
		clear: both;
		display: block;
		width: 100%;
		background-color: #ddd;
		z-index: 999;

		#primary-menu {
			background-color: #F9F9F9;
			top: $header-height-sp;
			position: absolute;
			display: none;
			width: 100%;
			height: calc(100vh - #{$header-height-sp});
			margin: 0;
			padding: 0;
		}

		ul {
			box-sizing: border-box;
			width: 50%;
			display: block;
			list-style: none;
			margin: 0 auto;
			margin-top: calc(50vh - 228px);
			padding: 0;

			li {
				box-sizing: border-box;

				a {
					display: block;
					font-size: 18px;
					line-height: 56px;
					height: 56px;
					text-decoration: none;
					text-align: center;
					color: #4a4a4a;
					border-bottom: 1px solid #d8d8d8;
				}

				&.current_page_item > a,
				&.current-menu-item > a,
				&:hover > a,
				&.focus > a {
					color: #e0e0e0;
				}
			}
		}

		&.toggled ul {
			z-index: 99;
		}

	}

	#menu-toggle {
		display: block;
		position: absolute;
		font-weight: normal;
		text-decoration: none;
		margin: 0;
		padding: 0;
		right: 0;
		top: 0;
		border: none;
		background: none;
		width: 50px;
		height: 60px;
	}
	#menu-toggle-icon{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 16px;
		height: 2px;
		margin: -1px 0 0 -7px;
		background: #494949;
		transition: .4s;

		&:before,
		&:after{
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 16px;
			height: 2px;
			background: #494949;
			transition: .4s;
		}
		&:before{
			margin-top: -8px;
		}
		&:after{
			margin-top: 6px;
		}

		&.close{
			background: transparent;
		}
		&.close:before, &.close:after{
			margin-top: 0;
		}
		&.close:before{
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
		}
		&.close:after{
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
		}

	}

}



.site-footer {
	ul {
		box-sizing: border-box;
		width: 50%;
		display: block;
		list-style: none;
		margin: 0 auto;
		margin-top: 95px;
		margin-bottom: 39px;
		padding: 0;

		li {
			box-sizing: border-box;

			a {
				display: block;
				font-size: 18px;
				line-height: 56px;
				height: 56px;
				text-decoration: none;
				text-align: center;
				color: #4a4a4a;
			}

			&.current_page_item > a,
			&.current-menu-item > a,
			&:hover > a,
			&.focus > a {
				color: #e0e0e0;
			}
		}
	}
}



@media screen and (min-width: 768px) {

.site-header {
	display: table;
}

	#menu-toggle {
		display: none;
	}
	.main-navigation,
	.main-navigation #primary-menu {
		display: block;
	}






}



