@import url(//fonts.googleapis.com/css?family=Noto+Sans+JP:500);
@import url(//fonts.googleapis.com/css?family=Rubik:700);
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W2);
  font-weight: 300;
}

$font__main: 'Noto Sans JP', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
